[submodule "pb_genotyper"]
	path = pb_genotyper
	url = https://github.com/kgori/pb_genotyper.git
[submodule "somatypus_nf"]
	path = somatypus_nf
	url = https://github.com/kgori/somatypus_nf.git
[submodule "snv_analysis_pipeline"]
	path = snv_analysis_pipeline
	url = https://github.com/kgori/snv_analysis_pipeline.git
